<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <div id="app"></div>
    <!-- 加载 React。-->
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://cdn.bootcss.com/babel-standalone/7.0.0-beta.3/babel.js"></script>
    <div id="root"></div>
    <script type="text/babel">
        ReactDOM.render(
            <form className="" action="/reg" method="post">
                <p th:text="${message}" th:if="${not #strings.isEmpty(message)}"></p>
                UserName:
                <input type="text" id="userName" name="userName" placeholder="Username" required="" autoFocus=""/><br/>
                Account:
                <input type="text" id="account" name="account" placeholder="Email/Phone" required="" autoFocus=""/><br/>
                Password:
                <input type="password" id="password" name="password" placeholder="Password" required=""/><br/>
                <button className="" type="submit">reg</button>
                <a href="/login">点击登录</a>
            </form>,
            document.getElementById('app')
        );
    </script>
</body>
</html>